body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:linear-gradient(to bottom,#ff4b4b,#8b0000);
    text-align:center;
}

.header{
    background:#c62828;
    color:white;
    padding:18px;
    font-size:30px;
    font-weight:bold;
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

.card{
    background:white;
    color:black;
    margin:15px;
    padding:22px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.15);
    font-size:20px;
    font-weight:bold;
}

.logo{
    width:180px;
    height:180px;
    border-radius:50%;
    display:block;
    margin:auto;
}
